In [1]:
import os.path as osp
import pandas as pd
import numpy as np
%run env.py
%run src/lib.py
%matplotlib inline

In [2]:
path = osp.join(META_DATA_DIR, CYTOKINES + '.csv')
#path = osp.join(META_DATA_DIR, CELL_TYPES + '.csv')
#path = osp.join(META_DATA_DIR, TRANSCRIPTION_FACTORS + '.csv')
df = pd.read_csv(path)
df.head()

,id,src,sym,lbl,spid,extid,prefid
0,CK16DB62C0EE32FCFC,manual,4-1BB,4-1BB,1,NaN,CK16DB62C0EE32FCFC
1,CKD6A1F8500CF5BB6C,manual,TNFSF9,4-1BB,1,NaN,CK16DB62C0EE32FCFC
2,CK66480A09B13AD79D,cameron,4-1BBL,4-1BBL,1,NaN,CK66480A09B13AD79D
3,CK3C8B23133684A426,cameron,APRIL,APRIL,1,NaN,CK3C8B23133684A426
4,CKA1A67F50E3346A8F,cameron,TALL-2,APRIL,1,NaN,CK3C8B23133684A426

In [3]:
#df[df['sym'].str.len() <= 3]['sym'].unique()

In [6]:
#df[df['sym'].str.upper().str.contains('OX4')]
#df[df['sym'].str.upper().str.contains('ROR')].head(15)
#df[df['sym'].str.lower().str.contains('genesis')].head(15)
#df[df['sym'].str.lower().str.contains('not')].head(15)
#df[df['sym'].str.lower().str.contains('out')].head(15)
df[df['lbl'].str.lower().str.contains('4-1bb')].head(15)

,id,src,sym,lbl,spid,extid,prefid
0,CK16DB62C0EE32FCFC,manual,4-1BB,4-1BB,1,NaN,CK16DB62C0EE32FCFC
1,CKD6A1F8500CF5BB6C,manual,TNFSF9,4-1BB,1,NaN,CK16DB62C0EE32FCFC
2,CK66480A09B13AD79D,cameron,4-1BBL,4-1BBL,1,NaN,CK66480A09B13AD79D
1812,CK2143D310E6EC93C1,transform,TNF-4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1813,CK8193103C1ABCD1CD,transform,TNF4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1814,CK65A29A2A601CB09F,transform,(TNF)4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1815,CK3C8C0E8D1BD6FAF8,transform,(TNF) 4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1816,CKBF42635AA145DE9E,transform,(TNF)-4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1817,CK5D54F2C9C4BF8C65,transform,tumor necrosis factor 4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1818,CK4A4E16B3A54E0B27,transform,tumor necrosis factor-4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1
1819,CK0ED6B244CED580CA,transform,tumor necrosis factor (TNF)-4-1BB,TNF-4-1BB,1,NaN,CK2143D310E6EC93C1

In [36]:
df[df['sym'].str.upper().str.contains('ROR')]['lbl'].unique()

array(['RORA', 'RORB', 'RORC'], dtype=object)

In [35]:
df[df['lbl'].str.upper() == 'RORC']

,id,src,sym,lbl,spid,extid,prefid
4029,TF765F9A5B1C495BB2,lambert,RORC,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4030,TF60A9F7E7158173A5,lambert,RAR related orphan receptor C,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4031,TF41F5F4FE0A10A6C8,lambert,IMD42,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4032,TFDCC9AABEBEF786D8,lambert,NR1F3,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4033,TFFAA0DCD9CD7116F7,lambert,RORG,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4034,TF895F457D9E92DCDF,lambert,RZR-GAMMA,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4035,TFE8E5BD50A454DE79,lambert,RZRG,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2
4036,TFEA0CF76D98BFD234,lambert,TOR,RORC,1,ENSG00000143365,TF765F9A5B1C495BB2